// Distance
$distance-default: 0.75rem;

// <-- (Design: Phạm Tuấn Anh)

// Font-size
$font-size-base: 14px;
$font-family-base: "Roboto", sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

// Border
$border-radius-base: 8px;
$border-radius-base-small: 4px;

// Color
$primary: #00bab5;
$neutral-white: #fff;
$neutral-midnight: #1a2948;
$neutral-gray-chateau: #99a0ad;
$neutral-fiord: #4d5971;
$primary-background: #f5f8fb;

$primary-cobalt: #ff7f08;
$primary-deep-blue: #002b80;
$neutral-bluewood: #33415c;
$neutral-regent-gray: #808999;
$neutral-pale-sky: #667085;
$neutral-athens-gray: #e6e8eb;
$neutral-bombay: #b3b8c2;
$neutral-midnight: #1a2948;
$neutral-ghost: #cccfd6;
$neutral-porcelain: #f2f3f4;
$neutral-white: #ffffff;
$semantic-waring-amber-yellow: #ffbe40;
$semantic-warning-mustard: #ffdf5c;
$semantic-error-persian-red: #d13138;
$semantic-error-sunset-red: #ff4d54;
$semantic-info-blue-1: #0195d7;
$semantic-info-blue-2: #4db9e9;
$semantic-success-jade-green: #33cc5e;
$semantic-success-turquois: #53e6b0;
$accent-dodger-blue: #4080ff;
$accent-100: #d0def8;
$accent-500: #1559de;
$accent-havelock-blue: #668cd9;
$accent-link-warter: #ccd9f2;
$state-default: #115dd3;
$state-hover: #4080ff;
$state-pressed: #002b80;
$state-dissable: #cccfd6;
$state-bg-1: #eef0f7;
$state-bg-2: #f5f8fb;
$gradient-blue: linear-gradient(108.17deg, #276cd8 1.82%, #115dd3 98.07%);
$gradien-oranges: linear-gradient(103.55deg, #ff8b20 1.99%, #ff7f08 97.82%);

// Shadow
$shallow-shadow-small: 0px 1px 5px rgba(194, 198, 201, 0.2);
$shallow-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
$colored-shadow-small: 0px 4px 4px rgba(64, 128, 255, 0.16);
$colored-shadow: 0px 4px 8px rgba(64, 128, 255, 0.24);

// color opacity
$white_10: rgba(255, 255, 255, 0.1);
$modal-background: rgba(26, 41, 72, 0.6);
// Huy
// Height
$height-skeleton-navbardetail: 21px;
$height-avatar: 48px;

// Width
